/*
Theme Name: LearningWordPress
Theme URI: https://wordpress.org/themes/twentyfifteen/
Author: Vince Aycardo
Author URI: https://wordpress.org/
Description: YouTube LearnWebCode WordPress tutorial
Version: 1.0
License: GNU General Public License v2 or later
License URI: http://www.gnu.org/licenses/gpl-2.0.html
Tags: black, blue, gray, pink, purple, white, yellow, dark, light, two-columns, left-sidebar, fixed-layout, responsive-layout, accessibility-ready, custom-background, custom-colors, custom-header, custom-menu, editor-style, featured-images, microformats, post-formats, rtl-language-support, sticky-post, threaded-comments, translation-ready
Text Domain: twentyfifteen

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.
*/

body {
  font-family: Arial, san-serif;
  font-size: 14px;
  color: #333;
}

a:link,
a:visited {
  color: #006ec3;
}

p {
  line-height: 1.65em;
}

/* General layout */
div.container {
  max-width: 920px;
  margin: 0 auto;
  padding-left: 20px;
  padding-right: 20px;
}

article.post {
  border-bottom: 2px dotted #bbbbbb;
}

article.post:last-of-type {
  border-bottom: none;
}

/* Aside styles */
article.post-aside, 
article.post-link {
  font-size: 125%;
  background-color: #FFF5CB;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 3px 3px 3px rgba(0, 0, 0, .1);
  margin-bottom: 20px;
}

.mini-meta {
  font-size: 68%;
  margin: 0;
  color: #777;
}

/* Link post format styles */
article.post-link {
  padding: 0;
  background-color: #e0ebff;
}

article.post-link a {
  display: block;
  padding: 20px;
}

/* Post format gallery */
article.post-gallery {
  background-color: #222;
  color: #FFF;
  padding: 20px;
  margin-bottom: 20px;
}

article.post-gallery img {
  border: none!important;
}

article.post-gallery h2 {
  text-align: center;
}

/*Header*/
.site-header {
  border-bottom: 2px solid #999;
  margin-bottom: 10px;
}

/* Footer */
.site-footer {
  margin-top: 10px;
  border-top: 2px solid #999;
}

/* Navigation menus */
.site-nav ul {
  margin: 0;
  padding: 0;
}

.site-nav ul:before, .site-nav ul:after { content: ""; display: table;}
.site-nav ul:after { clear: both;}
.site-nav ul {*zoom: 1;}

.site-nav li {
  list-style: none;
  float: left;
}

/* site header menu */
.site-header nav ul li {
  margin-right: 5px;
}
.site-header nav ul li a:link,
.site-header nav ul li a:visited {
  display: block;
  padding: 10px 18px;
  border: 1px solid #BBB;
  border-bottom: none;
  text-decoration: none;
}
.site-header nav ul li a:hover {
  background-color: #ececec;
}
.site-header nav ul li.current-menu-item a:link,
.site-header nav ul li.current-menu-item a:visited,
.site-header nav ul li.current-page-ancestor a:link,
.site-header nav ul li.current-page-ancestor a:visited {
  background-color: #006ec3;
  color: #fff;
}

/* Post Columns */
.home-columns {
  padding-top: 30px;
}

.one-half {
  width: 45%;
  float: left;
  margin-right: 10%;
}

.last {
  margin-right: 0;
}

/* Main Column */
.main-column {
  width: 66%;
  float: left;
}

/* Side Column */
.secondary-column {
  width: 30%
  float: right;
}

/* Footer Widget Area */
.footer-widget-area {
  width: 25%;
  float: left;
  padding-right: 40px;
  box-sizing: border-box;
}

/* Footer Menu */
.site-footer nav ul li {
  margin-right: 10px;
  padding-right: 10px;
  border-right: 1px dotted #BBB;
}

/* Page Layout */
article.page h2 {
  font-size: 300%;
  margin-top: 5px;
}

/* Clearfix */
.clearfix:before, .clearfix:after { content: ""; display: table;}
.clearfix:after {clear: both;}
.clearfix { *zoom: 1;}


/* Two column title layout */
div.title-column {
  width: 30%;
  float: left;
}
div.text-column {
  width: 70%;
  float: right;
}

/* Info Box Styles*/
div.info-box {
  width: 30%;
  float: right;
  margin: 0 0 30px 30px;
  padding: 20px;
  background-color: #EEE;
}

div.info-box h4 {
  margin-bottom: 6px;
  margin-top: 2px;
}

div.info-box p {
  font-size: 85%;
}

/* Children Links */
.children-links {
  margin-bottom: 20px;
  font-size: 80%;
}

.children-links a:link,
.children-links a:visited {
  text-decoration: none;
}

.children-links ul {
  float: left;
}

.children-links li {
  margin-right: 20px;
}

.children-links .parent-link {
  float: left;
  margin-right: 20px;
  padding-right: 20px;
  border-right: 1px solid #DDD;
  font-size: 120%;
  font-weight: bold;
}

.children-links .parent-link a:link,
.children-links .parent-link a:visited {
  color: #333;
}

.children-links .current_page_item a:link,
.children-links .current_page_item a:visited {
  border-bottom: 1px solid #DDD;
  color: #333;
  cursor: default;
} 

/* Post styles */
.post h2 {
  margin-bottom: 0;
}

p.post-info {
  font-size: 87%;
  color: #999;
}

p.post-info a:link,
p.post-info a:visited {
  color: #999;
}

/* Image styles */
img {
  max-width: 100%;
  height: auto;
}

.has-thumbnail {
  position: relative;
  padding-left: 200px;
}

.post-thumbnail {
  position: absolute;
  top: 0;
  left: 0;
}

/* Search Section */
div.hd-search {
  float: right;
}

div.hd-search label {
  display: none;
}

div.hd-search #searchsubmit {
  background-color: #006ec3;
  color: #FFF;
  padding: 5px 14px;
  border: none;
  vertical-align: top;
}

div.hd-search #s {
  vertical-align: top;
  padding: 3px 0;
}